{# templates/policy/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    <h1>Politique de confidentialité pour My3IL</h1>
    <h3>My3IL ("nous", "notre" ou "l'application") est une application mobile développée de manière indépendante par des
        développeurs tiers et n'est pas affiliée à l'école 3il Ingénieurs ou au groupe
        3il.
    </h3>
    <br>
    Notre application permet aux utilisateurs de visualiser l'emploi du temps pour une classe donnée.
    Cette politique de confidentialité décrit comment My3IL traite les informations collectées lors de l'utilisation de notre application.<br>
    <br>
    <strong>Collecte et utilisation des informations
        :</strong> My3IL ne collecte aucune donnée utilisateur à des fins de suivi ou de profilage. La seule donnée récupérée est le nom de l'utilisateur, qui est utilisé uniquement à des fins d'affichage dans l'application. Partage des informations : My3IL ne partage pas les données personnelles ou confidentielles des utilisateurs avec des tiers.
    <br>
    <strong>Sécurité des données
        :</strong> Nous mettons en place des procédures de sécurité pour protéger les informations collectées par My3IL. Cela inclut des mesures techniques et organisationnelles pour prévenir tout accès non autorisé, toute divulgation, toute altération ou toute destruction des données.
    <br>
    <strong>Conservation des données
        :</strong> My3IL ne conserve aucune donnée utilisateur au-delà de ce qui est nécessaire pour assurer le bon fonctionnement de l'application. Les données utilisateur sont supprimées dès qu'elles ne sont plus nécessaires.
{% endblock %}